@font-face {
    font-family: unifont;
    src: url("../font/unifont.ttf");
}

* {
    font-family: unifont;
}

#divconv {
    height: 25em;
    width: 80ex;
    overflow: scroll;
}

ul {
    list-style-type: none;
    padding: 0px;
}