body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    overflow: auto;
}


canvas {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    overflow: auto;
}

.textin {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}